#title{
    text-align: center;
}
.attempt{
    width:80%;
    margin:10px auto 10px auto;
    height:60px;
    display:flex;
    justify-content: space-evenly;
}
.letter{
    height:100%;
    width:15%;
    background-color: gray;
    border-radius:2%;
    text-align: center;
    font-size: xx-large;
}